.slider .carousel-item{
background-image: url(../1.jpg);
min-height:200px;
background-size:cover;
background-position: center;

}
/* @media(min-width:400px)and(max-width:766px){
    .slider .carousel-item{
        min-height: 400px;
    }
} */